// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div {
    display: block;
}

header .navbar-left span {
    font-size: 20px;
    padding-top: 10px;
}



header {
    color: white;
}

body {
    margin-top: 51px;
}